.container1{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 70vmin; */
    background: radial-gradient(circle, #000000, var(--background-col), var(--background-col));
    -webkit-background: 100% 100%;
    
    
    
    
    /* border: 4px solid red; */
    

}
.main.light-mode{
    background: radial-gradient(var(--text-color), var(--text-color));

}
.ptag.light-mode{
    color: #252746 ;
    font-weight: 500;

}
.down2logo{
    border-radius: 50%;
    width: 35px;
    height: 35px; 
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: #F9AAAD;
    color: #462037
}
.contlogo{
    background: var(--sec-col);
    border: 1px solid var(--sec-col) ;
    border-radius: 50%;
    color: #462037;
    /* right:  3px; */
    width: 35px;
    height: 35px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;

}
.cont.light-mode{
    background-color: transparent;
}
.downlogo, .contlogo{   
    /* position: relative; */
   /* top: 3px; */
    font-size: 1.19rem;
    font-weight: bold;
    cursor: pointer;
    /* color: var(--background-col); */
}
h1{
    text-align: center;
    color: #C5757C;
    font-size:clamp(50px, 7.5vw + 10px,60px);
}
.main{
    top: 0;
    left: 0;
    animation: myAnim 2s ease 0s 1 normal forwards;
    /* background-color: #252746;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23181927' fill-opacity='0.16'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    
    /* background: radial-gradient(var(--background-col), #10152aa4); */
    /* background: radial-gradient(red, black, yellow); */

    
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
    display: flex;
    flex-direction: column;    
    /* border: 1px solid black; */
    
    width: 100%;
    text-align: center;
    
    .ptag{
        font-family: var(--second-font);
        color: #f9d1d2;
        font-size: clamp(15px, 2vw + 5px, 20px);
        text-align: center;
        font-weight: 500 ;
        margin: 0px 0 35px 0;
        width: 90%;
        
        /* border: 1px solid green; */
    }
    
    
}

/*  */
.buttons{
    display: flex;
    flex-direction: row;
    /* border: 1px solid yellow; */
    justify-content: center;
    font-family: 'Open Sans' !important;
    /* font-family: var(--second-font); */
    gap: calc(708px - 680px);
    animation: myAnim 2s ease 0s 1 normal forwards;
    
    

}

  
@keyframes progress-c{0%{width: 0%;} 100%{ width: 100%;}}
.down,.cont{
    border-radius: 80px;
    font-size: 1rem;
    outline: 0;
    border:none;
    height: 52px;
    font-weight: bold;
    transition: transform 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 9px; */
}
.down:hover,.cont:hover{
    transform: scale(1.04);
    
}

.down{
    padding: 0px 10px 0 17px;
    width: 170px;
    background-color: var(--sec-col);
    color: var(--background-col);
}
.cont:hover, .cont.light-mode:hover{
    background-color: #F9AAAD !important;
}
.down:hover{
    color: #F9AAAD;
    border: 1px solid #F9AAAD;
    background-color:transparent
}
.cont{
    padding: 0px 10px 0 17px;
    width: 162px;
    border: 2px solid var(--sec-col);
    color: var(--sec-col);
    background-color:transparent;
}
.pink-highlight {
    animation: progress-c 3s normal forwards; 
  
        /* font-weight: 500 !important; */
        font-family: var(--second-font);
        font-weight: bold;
        color: var(--background-col);
        margin: 0 -0.4em;
        padding: 0.1em 0.4em;
        border-radius: 0.8em 0.3em;
        background: transparent;
        background-image: linear-gradient(
          to right,
          rgba(255, 225, 0, 0.1),
          rgba(255, 225, 0, 0.7) 4%,
          rgba(255, 225, 0, 0.3)
        );
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
      
}



@media screen and (max-width: 580px) {
    /* .main{
        h1{
            font-size: 50px !important;
        }
    } */
    .ptag{
        margin: 0 !important;
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .downlogo{   
        position: relative;
       /* top: 3px; */
        font-size: 1rem;
        
    }
    .main{
        
        width: 100% !important; 
    }
    .main h1{
        text-align: left !important;
        font-size:clamp(30px, 3vw + 10px,60px) !important;
    }
    .main{
        p{
            hyphens: auto;
            text-align: left !important;
            font-size: 14px !important;
        }
    }
    .buttons{
        /* flex-direction: column; */
        align-items: center;
        /* padding: 0px 20px; */
        /* width: 80vw; */
        
        justify-content: center;
        
    }
    .container1{
        height: 150vmin;
    }
    
    .down, .cont{
        justify-content: space-between;
        font-size: 0.85rem;
        width: 150px;
        height: 50px;
        padding: 0px 10px 0px 15px;
    }
    
   
    
    .ptag{
        margin: 0 !important;
        text-align: center;
    }
}
@media screen and (min-width: 1028px) {
    
    .ptag{
        width: 65vw !important;
        
        text-align: center;
    }
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}