.max-width2{
    max-width: 1300px;
    /* border: 1px solid red; */
    height: 100vh;
    margin: auto;
    margin-bottom: 100px;
    padding: 0 70px;
}
.contentin{
    margin-top: 20px !important;
}
.jIatKG h1{
    font-size: 1.2rem;
    color: var(--background-col);
}
.eDQELy{
    padding: 0 !important;
}
.para{
    display: inline;
}
.cardlight{
    color: var(--background-col) !important;
}


li{
    
    color: var(--sec-col) !important;
}
.mycard{
    /* background-color: #464866 !important; */
    color: white !important;
    max-width: 800px !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3) !important;
    
}
.my-card-subtitle{
    color: var(--sec-col) !important;
}

.mycard span{
    color: var(--background-col) !important;
}
/* .hxLLRt{
    display: none !important;
} */

@media (max-width: 691px) {
    .max-width2{
        padding: 0 20px;
        margin: 0px auto;
    }
    
}
.light-mode .hWokMX,.light-mode .guQygA{
    background-color: white !important;
}
.light-mode .ixtlPK{
    background-color: white !important;
}
@media (max-width: 800px) {
    .max-width2{
        height: 140vh;
        padding: 40px 0px 0px 20px;
    }
    .jIatKG h1{
        font-size: 1rem;
    }
    
}

@media (max-width: 400px) {
    .max-width2{
        height: 240vmin;
        padding: 40px 0px 0px 15px;
    }
}
@media (max-width: 891px) {
    .max-width2{
         margin-bottom: 250px;
    }
    
}

